<%= render 'layouts/navbar' %>
<div class="slider fullscreen">

    <ul class="slides">

      <li>
        <img src="http://www.freefoodphotos.com/imagelibrary/breakfast/slides/german_breakfast_meats.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h4>Welcome to SmokieZone</h4>
          <h5 class="light grey-text text-lighten-3">Your cook mate</h5>
        </div>
      </li>
      <li>
        <img src="http://www.freefoodphotos.com/imagelibrary/cooking/slides/cake_making.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h4>Share your Recipes </h4>
          <h5 class="light grey-text text-lighten-3">Show the world what you can do with that chicken</h5>
        </div>
      </li>
      <li>
        <img src="http://www.freefoodphotos.com/imagelibrary/confectionery/slides/dessert.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h4>Get help with that lasagna</h4>
          <h5 class="light grey-text text-lighten-3">Learn how to cook your favourite meal from experts around the world</h5>
        </div>
      </li>
      
    </ul>
  </div>

  