// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav {
	background-color: transparent !important;
	  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.16),0 0px 0px 0 rgba(0,0,0,0.12) !important;
}

a.brand-logo{
	color: #FC5F00 !important;
}

a:visited {
  color: white !important;

}

nav ul {
	margin-top: 2% !important;
}

/*a.red{
   width: 200px;
  height: 40px;
  border-radius: 5px;
  font-size: 10px;
  background-color: transparent !important;
  border-style: solid;
  border-color: #FC5F00 !important;
  bottom: 45px; 
  right: 24px;
}
*/
/**/
