// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*a.red{
   width: 200px;
  height: 40px;
  border-radius: 5px;
  font-size: 10px;
  background-color: transparent !important;
  border-style: solid;
  border-color: #FC5F00 !important;
  bottom: 45px; 
  right: 24px;
}
*/
/**/
