// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.recipes_header{
 background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6) ), url('/food4.jpg');
   
   background-size:cover;
   background-repeat: no-repeat;
   color: white;
   min-height: 200px;
   vertical-align:middle;
   
}

.recipes_header h3{
  
   vertical-align:middle !important;
   margin: 10% 0;
   text-align: center;
}

.card .card-content {
    min-height: 50px !important;
    color: #FC5F00 !important;
}

.card-image img {
    
    height: 100%;
}

p.links a{
	color: black !important;
}

